.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.close-box{
  position: fixed;
  top: 0px;
  right: 0px;
  align-self: flex-end;
  border-radius: 20px;
  box-shadow: 0 0 4px grey;
  background-color: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

h1{
  font-weight: 600;
}

.todo-wrapper{
  background: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27,27);
  color: white;
}

.todo-form{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom:  1px solid grey;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input{
  padding: 10px;
  border: none;
  width: 250px;
  color: black;
}

.todo-input-item input:focus{
  border: 2px solid green;
  outline: none;
}

.secondaryBtn{
  background-color: rgb(71,71,71);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.activeTab{
  background-color: green;
}

.btn-area{
  margin-bottom: 15px;
}

.todo-list{
  display: flex;
  flex-direction: column;
}

.todo-list-item{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 6px rgb(27, 27,27);
}

.todo-list-item-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-check, .icon-delete{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.icon-check:hover{
  color: green;
}

.icon-delete:hover{
  color: red;
}

.todo-list-item-content h3{
  color: green;
}

.todo-list-item-description{
  font-size: small;
}

h1{
  text-align: center;
}